<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Fonts/Icons -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>

  <body>
    <div class="form-container">
        <form method="POST">
            <h2>Create Reminder</h2>
            <div>
                <label>Title:</label>
                <input type="text" name="title" required />
                
                <label>Description:</label>
                <textarea name="description" rows="4" required></textarea>
                
                <label>Date:</label>
                <input type="date" name="date" required />
                
                <label>Time:</label>
                <input type="time" name="time" required />
                
                <label>Category:</label>
                <input type="text" name="category" />
            </div>
            <div class="button-group">
                <button type="submit" class="btn-save">Save Changes</button>
                <a href="/reminders" class="h4 text-dark">
                    <button type="button" class="btn-cancel">Cancel</button>
                </a>
            </div>
        </form>
    </div>
</body>
</html>