<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1>Welcome, <%= user.username %>!</h1>
  <a href="/logout">Logout</a>
</body>
</html>
