<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Reminders</title>
</head>
<body>
    <form   method="POST">
        <h2>Edit Reminder</h2>
        <div>
          <label>Title:</label>
          <input type="text" name="title"  required />
          <br>
          <label>Description:</label>
          <textarea name="description" required></textarea>
          <br>
          <label>Date:</label>
          <input type="date" name="date" required />
          <br>
          <label>Time:</label>
          <input type="time" name="time"  required />
          <br>
          <label>Category:</label>
          <input type="text" name="category"  />
        </div>
        <button type="submit">Save Changes</button>
        
    </form>
    <a href="/reminders" class="h4 text-dark  ">
        <button class="btn-cancel">Cancel</button>
    </a>
      
</body>
</html>