<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>RecallNow</title>
      <!-- Bootstrap  -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <!-- Fonts/Icons -->
      <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
      <!-- CSS -->
      <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    
    <header class="text-center py-4"> <!--vert padding-->
      <!-- Main Heading for Home Page -->
      <div class="container">
          <h1 class="display-4">RecallNow</h1>
      </div>
  
      <!-- Navigation Links -->
      <div class="container mt-3 p-3 bg-primary rounded" > <!--top margin, paddin-->
          <nav class="navbar-container" >
              <a href="/create" class="h4 text-dark  ">Create</a>
              <br>
              <br>
              <a href="/reminders" class="h4 text-dark ">Reminders</a>
              <br>
              <br>
              <a href="/edit" class="h4 text-dark ">Edit</a>
          </nav>
      </div>
      <img src="/images/testlogo.png" style="width:130px; border-radius: 15px;">


      
  </header>

</html>

