<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reminders</title>
</head>
<body>
    <h1 style="text-align: center;">Reminders</h1>
    <div class="reminder-card">
        <h3 class="reminder-title">Doctor's Appointment</h3>
        <p class="reminder-description"> health checkup at Dr's office.</p>
        <div class="reminder-details">
          <p><strong>Date:</strong> November 1, 2025</p>
          <p><strong>Time:</strong> 10:35 AM</p>
          <p><strong>Category:</strong> Health</p>
        </div>
        <button class="btn-complete">Mark as Complete</button>
        <a href="/edit" class="h4 text-dark  ">
            <button class="btn-edit">Edit</button>
        </a>
      </div>
      <div class="reminder-card">
        <h3 class="reminder-title">Doctor's Appointment</h3>
        <p class="reminder-description"> health checkup at Dr's office.</p>
        <div class="reminder-details">
          <p><strong>Date:</strong> November 1, 2025</p>
          <p><strong>Time:</strong> 10:35 AM</p>
          <p><strong>Category:</strong> Health</p>
        </div>
        <button class="btn-complete">Mark as Complete</button>
        <a href="/edit" class="h4 text-dark  ">
            <button class="btn-edit">Edit</button>
        </a>
      </div>
      
</body>
</html>